<div class="row">
  <div style="margin-top: 20px;" class="col-3">
      <product-filter [category] ="category" ></product-filter>
  </div>

  <div style="margin-top: 20px;" class="col">
    <div class="row">
        <ng-container *ngFor="let p of filteredProducts ; let i=index ">
         <div class="col">
             <product-card [product]="p"> </product-card>
         </div> 
         <div *ngIf="(i+1)%3 ===0" class="w-100"></div>
         <div *ngIf="(i+1)%3 ===0" style="margin-top: 30px;"></div>
     
        </ng-container>    
     </div>
  </div>
</div>






